EXPO_PUBLIC_API_BASE_URL=http://localhost:3000/api
EXPO_PUBLIC_SUPABASE_URL=https://tswdzhymcanjpkglwxei.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_uJfgdnG9u7mhWytz12OrAQ_vcVgN0e7
EXPO_PUBLIC_SUPABASE_ANON_KEY=public-anon-key
